<div class="row">
  <div class="col-sm-3">
    <div id="channels">
      <% @messages.each do |m| %>
        <p><%= link_to "##{m.name}", m %></p>
      <% end %>
      <% @users.each do |u| %>
        <p><%= u.username %></p>
      <% end %>
    </div>
  </div>
  <div id="right-bar" class="col-sm-9">
    <h1>#<%= @message.name %></h1>
    <section id="comments" data-channel="comments" data-message-id="<%= @message.id %>">
      <% @message.comments.each do |c| %>
        <p><b>[<%= c.user.username %>]</b> <%= c.comment %></p>
      <% end %>
    </section>

    <div class="chat-footer">
      <%= form_for [ @message, Comment.new ], remote: true do |form| %>
        <div class="form-group row">
          <div class="col-xs-10">
            <%= form.text_field :comment, class: "form-control chat-input", autofocus: true %><br>
          </div>
          <div class="col-xs-2">
            <%= form.submit 'Send', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
