<!DOCTYPE html>
<html>
<head>
  <title>Smack</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Smack</a>
    <ul class="nav navbar-nav pull-right">
      <% if current_user %>
        <li>
          <%= link_to "Log out", session_path(current_user), method: 'delete', class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
